.auth-div-wrapper {
    text-align: center;
    color: #0D0B6D;
    border-width: 512px;
    border-height: 618px;
    border-width: 500px;
    /* margin-left: 100px;
    margin-right: 100px; */
    border:  2px solid #14279B;
    border-radius: 4px;
    max-width: 500px;
    margin: auto;
    margin-top: 32px;
}

.form-title{
    font-family: 'Cabin', sans-serif;
    font-weight: 200;
}

.form-redirection-link{
    color: #E43F5A;
} 