#SignUp-Button {
    background-color: #E43F5A;
    color: white;
    width: 302px;
    height: 64px;
    border-radius: 4px;
    border-style: none;

    font-family: 'Cabin', sans-serif;
    font-size: 24px;
    text-align: center;
}

#SignUp-Button:hover{
    background-color: #e67789;
    cursor: pointer;
}

.small-button{
    background-color: #E43F5A;
    color: white;
    border-radius: 4px;
    border-style: none;
    width: 127px;
    height: 40px;
    margin-top: 16px;
}

.small-button:hover{
    background-color: #e67789;
    cursor: pointer;
}