#footer-wrapper-block {
    bottom: 0;
    width: 100%;
    position: fixed;
    background: #5C7AEA;
    height: 1.75rem;
}
#footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    color: white;
    font-size: 0.85rem;
    height: 100%;
    width: 85%;
    font-family: 'Cabin', sans-serif;
}
#footer-text-wrapper {
    display: flex;
}
#footer-text-1 {
    margin-right: 1rem;
}
