#header{
    font-family: 'Cabin', sans-serif;
    background-color: #5C7AEA;
    font-size: 16px;
    display: flex;
    padding-top: 8px;
    padding-bottom: 8px;
    color: white;

}

#logo{
    max-height: 36px;
    padding-left: 8px;
}

#navbar > a {
    
    color: white;
    
}

a:active{
    color: white;
    text-decoration: none;
}

/* can't access individual bits to change text color  */
/* #nav-bar > li> Link {
    text-decoration: none;
} */