#header {
    font-family: 'Cabin', sans-serif;
    font-weight: 200;
    background-color: #5C7AEA;
    font-size: 16px;

    padding-bottom: 8px;
    color: white;
    display: flex;
    /* justify-content: space-around; */
    width: 100%;
    align-content: space-around;
    
}

#navbar {
    padding-left: 32px;
    display: flex;
    /* align-content: space-between; */
}

#logo {
    max-height: 36px;
    /* padding-left: 8px; */
}

#line {
    height: 1px;
    width: 100%;
    background-color: black;
}

#header-links {
    /* right: 0; */
    padding-left: 300px;
    padding-top: 18px;
    
}

a {
    color: white;
    text-decoration: none;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    justify-content: space-evenly;
}

a:active {
    color: white;
}

