body {
    font-family: 'Cabin', sans-serif;

    background: #5C7AEA;
    color:white;
    min-width: 100%;
    min-height: 100%;

}

#home-page-image{
    max-height: 500px;
    justify-self: right;
}