body {
    font-family: 'Cabin', sans-serif;
    background: #5C7AEA;
    color:white;
    min-width: 100%;
    min-height: 100%;
}

#home-page-image{
    max-width: 500px;
    justify-self: right;
}

#text-description{
    font-weight: 400;
    color: white;
    max-width: 300px;
    margin: 32px;
    padding: 8px;
}