#homeheader {
    background-image: url("../image/background.png");
    background-size: cover;
    height: 100vh;
    width: 100%;
    opacity: 0.6;
}

h1 {
    text-align: center;
    color: black;
}